<h1>This is the list of recipes</h1>


<form action="/recipes/search" method="GET">
<label for="title">Look for a recipe by title</label>
<input type="text" name="title" id="title">
<button type="submit">Search</button>
</form>
<a href="/recipes/create">Create new recipe</a>

<ul>
  {{#each recipes}}
    <li>
      <a href="/recipes/details/{{_id}}">
        <p>{{title}}</p>
        <p>{{duration}}</p>
      </a> 
    </li>
  {{/each}}
</ul>